body {
    background-image: url(../images/ricepaper_v3.png);
}

.currentpage {
    text-shadow: 1px 1px #333 !important;
}

.profilepic {
    width: 100%;
}

a:hover {
    color: white !important;
}

.notcurrentpage {
    color: #ccc !important;
}