body {
    background-image: url(../images/ricepaper_v3.png);
}

/* override bootstrap for the navbar */
.ob-nav {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #bbb;
    background-color: #eee !important;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 80px;
}

.ob-container {
    position: relative;
}

/* override bootstrap for the logo aka my name */
.ob-logo {
    margin-top: 40px;
    padding: 0 20px;
    height: 80px;
    text-shadow: 2px 2px #333;
    position: absolute;
    top: -60px;
    left: 0px;
    background-color: #4aaaa5;
}

#ob-logo {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    position: relative;
    top: 20px;
}

.currentpage {
    text-shadow: 1px 1px #333 !important;
}

.profilepic {
    width: 100%;
}

a:hover {
    color: white !important;
}

.notcurrentpage {
    color: #ccc !important;
}

/* override Bootstrap rounding images inside cards because WHY WOULD YOU DO THAT WHEN THERE'S A HEADER ON TOP OF THE IMAGE IN THE CARD UGH
I was able to find the correct class names thanks to dev tools - GENIUS! */
.card-img-top, .card-img-bottom {
    border-radius: 0 !important;
}

.portfoliohover:hover .card-img-top {
    opacity: 0.7;
}

.wiki:hover {
    opacity: 0.6;
}

/* Sticky footer styles STOLEN!!! from https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css */
html {
    position: relative;
    min-height: 100%;
}

body {
/* Margin bottom by footer height */
margin-bottom: 60px;
}

.footer {
position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 60px;
line-height: 60px; /* Vertically center the text there */
background-color: #f5f5f5;
}
