body {
    background-image: url(../images/ricepaper_v3.png);
}

.currentpage {
    text-shadow: 2px 2px #333 !important;
}

.profilepic {
    width: 100%;
}

a:hover {
    color: black !important;
}

.notcurrentpage {
    color: #666 !important;
}